In [2]:
#imports
import numpy as np
import pandas as pd

Restaurants are organised by neighbourhood. There are a lot of neighborhoods
in the data. Using the longitude and latitude of each restaurant, can you find
other ways to organise restaurants together, e.g., using a clustering model?
Can you find any interesting associations with other elements of the data using
this clustering?

In [6]:
business = pd.read_csv("data/business.csv")
print(business.columns)
print(len(business))
business.head(2)

Index(['address', 'AcceptsInsurance', 'AgesAllowed', 'Alcohol',
       'Ambience.casual', 'Ambience.classy', 'Ambience.hipster',
       'Ambience.intimate', 'Ambience.romantic', 'Ambience.touristy',
       'Ambience.trendy', 'Ambience.upscale', 'BestNights.friday',
       'BestNights.monday', 'BestNights.saturday', 'BestNights.sunday',
       'BestNights.thursday', 'BestNights.tuesday', 'BestNights.wednesday',
       'BikeParking', 'BusinessAcceptsCreditCards', 'BusinessParking.garage',
       'BusinessParking.lot', 'BusinessParking.street',
       'BusinessParking.valet', 'BusinessParking.validated',
       'ByAppointmentOnly', 'Caters', 'CoatCheck',
       'DietaryRestrictions.dairy-free', 'DietaryRestrictions.gluten-free',
       'DietaryRestrictions.halal', 'DietaryRestrictions.kosher',
       'DietaryRestrictions.soy-free', 'DietaryRestrictions.vegan',
       'DietaryRestrictions.vegetarian', 'DogsAllowed', 'DriveThru',
       'GoodForDancing', 'GoodForKids', 'GoodForMeal.breakfast',
       'GoodForMeal.brunch', 'GoodForMeal.dessert', 'GoodForMeal.dinner',
       'GoodForMeal.latenight', 'GoodForMeal.lunch',
       'HairSpecializesIn.coloring', 'HairSpecializesIn.curly',
       'HairSpecializesIn.extensions', 'HairSpecializesIn.kids',
       'HairSpecializesIn.perms', 'HappyHour', 'HasTV',
       'Music.background_music', 'Music.dj', 'Music.jukebox', 'Music.karaoke',
       'Music.live', 'Music.no_music', 'Music.video', 'NoiseLevel',
       'Open24Hours', 'OutdoorSeating', 'RestaurantsAttire',
       'RestaurantsCounterService', 'RestaurantsDelivery',
       'RestaurantsGoodForGroups', 'RestaurantsPriceRange2',
       'RestaurantsReservations', 'RestaurantsTableService',
       'RestaurantsTakeOut', 'Smoking', 'WheelchairAccessible', 'WiFi',
       'business_id', 'categories', 'city', 'hours.Friday', 'hours.Monday',
       'hours.Saturday', 'hours.Sunday', 'hours.Thursday', 'hours.Tuesday',
       'hours.Wednesday', 'is_open', 'latitude', 'longitude', 'name',
       'neighborhood', 'postal_code', 'review_count', 'stars', 'state'],
      dtype='object')
7148

,address,AcceptsInsurance,AgesAllowed,Alcohol,Ambience.casual,Ambience.classy,Ambience.hipster,Ambience.intimate,Ambience.romantic,Ambience.touristy,...,hours.Wednesday,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,2459 Yonge St,NaN,NaN,full_bar,False,False,False,False,True,False,...,9:00-22:00,0,43.71140,-79.39934,Alize Catering,Yonge and Eglinton,M4P 2H6,12,3.0,ON
1,1058 Gerrard Street E,NaN,NaN,full_bar,True,False,False,False,False,False,...,11:30-2:00,1,43.66926,-79.33590,Chula Taberna Mexicana,Leslieville,M4M 3A6,39,3.5,ON

In [10]:
business = pd.read_csv("data/business.csv")
question3 = business[['business_id','name','latitude','longitude','review_count','stars']]
question3.to_csv("data/question3.csv",index=False)
question3.head()

,business_id,name,latitude,longitude,review_count,stars
0,l09JfMeQ6ynYs5MCJtrcmQ,Alize Catering,43.71140,-79.39934,12,3.0
1,1K4qrnfyzKzGgJPBEcJaNQ,Chula Taberna Mexicana,43.66926,-79.33590,39,3.5
2,nbhBRhZtdaZmMMeb2i02pg,Sunnyside Grill,43.78182,-79.49043,3,5.0
3,FXHfcFVEfI1vVngW2gVOpw,Bampot House of Tea & Board Games,43.66158,-79.40888,55,4.0
4,VXH7zXcZzXlmAVN8GSjGRQ,Thai Express,43.77488,-79.49462,5,3.0